.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}
.nav {
    position: relative;
    
}

.screen {
 position: relative; 
}

.screen-img {
    position: absolute;
    left: 640px;
}

.column{
    float: right; 
    width: 50%;
    padding: 5px; 

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

ul {
    display: flex;
    list-style: none; 
    
}

a {
    padding: 0 20px;
    color: black;
    margin-left: 200px;
}

body {
    
    font-family: 'Oswald', sans-serif;
    
    
}


footer {
    font-weight: 100;
}

.icon {

    font-size: 100px;
    width: 50px;
    display: block;
    margin-left: 0 50px;
    height: 100px;

    
}
.icon1 {
    font-size: 100px;
    font-weight: 100px;
    float: right;
    width: 50px;
    margin-left:950px;
    margin-top: auto;
    margin-bottom:auto ;
    
}

* {
    box-sizing: border-box;
   
}

.mainpic {
    display: flex;
    
}
.mainpic img {
    flex-basis: 50%;
    object-fit: cover;
    width: 50%;
    height: 700px;

margin-left: 10px;
}
.mainpic div {
    flex-basis: 50%;
    width: 50%;
    height: 700px;
    background-color: grey;
    color: white;
    
}
header {
    border-bottom: 1px solid;
}